<ul>
  <% @memberships.each do |membership| %>
    <li><%= link_to membership.name, membership_path(membership) %></li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to "create membership", new_membership_path  %>
<% end %>
