.alumnus {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.alumnus-info-card {
  flex: 0 0 400px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  margin-right: 24px;
  word-break: break-word;
}

.alumnus-info-card-header {
  text-align: center;
  position: relative;
}

.alumnus-info-card-header .alumnus-avatar {
  margin-top: 24px;
}

.alumnus-avatar {
  margin: 0;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border: 3px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.rounded-circle {
  border-radius: 50% !important;
}

.alumnus-info-card-content {
  margin: 12px 24px 24px 24px;
}

.alumnus-info-card-content h4 {
  font-size: 0.8rem;
  color: #929292;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.alumnus-panel {
  position: relative;
  flex: 1 1 auto;
  background-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  padding: 24px;
}

@media (max-width: 992px) {
  .alumnus-info-card {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
  }
}
