<div class="banner">
  <div class="container">
    <h1>Tonys Gym</h1>
    <p>Start working out today!</p>
    <a class="btn btn-flat" href="#">Sign Up</a>
  </div>
</div>
<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3916766/pexels-photo-3916766.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    Gym Memberships
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/236128/pexels-photo-236128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Workout Classes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Gym Merchandise
  </div>
</div>
