<ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %></li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to "create Class", new_course_path  %>
<% end %>
